/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 13-may-2016, 1:19:04
    Author     : Vicente
*/
h1,h2,h3,h4{
    font-family: Lobster;
}
h2,h3{
    color: #086;
}
.navbar{
    border-radius: 0;
}
.navbar-header a{
    color: white !important;
    text-decoration: none;
}
header {
    width: 100%;
    top:0;
    left:0;
    position: fixed;
    z-index: 10;
}
.principal{
    padding-top: 3.7em;
}

.gray-row{
    background-color: #efefef;
}
.apartado{
    padding: 10% 0%;
}

.center{
    margin-left: 40%;
}
.t1{
    font-family: Lobster;
    background-color: #fff;
    border: 3px solid #086;
    color: black;
}
.fondoa{
    background-image: url("img/tree2.jpg");
    background-repeat: no-repeat;
    background-size:30%;
    background-position: bottom left;
}
.fondob{
    background-image: url("img/tree3.jpg");
    background-repeat: no-repeat;
    background-size:10%;
    background-position: bottom;
}
.fondoc{
    background-image: url("img/tree2.jpg");
    background-repeat: no-repeat;
    background-size:30%;
    background-position: bottom right;
}
.flag-icon {
    height: 1em;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.back-ES{
    background-image: url("img/es.svg");
}
.back-EN{
    background-image: url("img/gb.svg");
}
.carousel{
    border:2px solid #086;
}
.carousel-indicators li{
    border-color: black;
}
.carousel-indicators .active{
    background-color: black;
}
.footcuadro{
    font-family: Lobster;
    overflow: hidden;
    width: 100% !important;
    padding-bottom: 8%;
    height: 5em;
    color:black;
    position: absolute;
    background-color: #ccc;
    opacity: 0.9;
    bottom: 0;
    left: 0;
}
.footcuadro:hover{
    font-size: 110%;
}
.cont-cuadro{
    width: 35%;
    min-height: 18em;
    float: left;
    margin-left: 10%;
    margin-top: 5%;
}
.cuadro{
  position: relative;
  background-image: url("img/tree.jpg");
  width: 100%;
  height: 16em;
}
/*
.black{
    background-color: black;
}
.black on:hover{
    background-color: #333333 !important;
}
black on:focus{
    background-color: #333333 !important;
}
*/
