/* 
    Created on : 13-may-2016, 14:40:34
    Author     : Vicente
*/
body{
	background-color: #00cccc;
}
h2,h3{
    font-family: Lobster;
}
h3{
    background-color: #cff;
    border-radius: 1em;
    border:1px solid black;
}
.apartado{
    padding: 5% 0%;
}
.apartado img{
    border-radius: 10%;
    border:10px solid #cff;
}
a{
	text-decoration: none;
	color: white;
}
